@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: 'Playfair Display', serif;
}

li{
    color: #fff !important;
}
a{
    color: #fff;
    font-size: 1.2rem !important;
    text-decoration: none;
}
a:hover{
    color: #fff;
}
h1,h2,h3,h4,p{
    color: #fff;
}
img{
    max-width: 100%;
}

:root{
    --brand-color: #ff9305;
}

            /* music-section */

.music-section{
    padding: 50px 0;
}
.flex-box{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #be70098a;
    height: 80px;
}
.flex-box-1{
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.flex-1{
    width: 25%;
}
.flex-1 h2{
    padding: 0 15px;
    font-size: 1.2rem;
}
.flex-2{
    width: 50%;
    background-color: #f1f3f4;
}
.flex-3{
    width: 25%;
}
.flex-3 i{
    font-size: 1.7rem;
    color: #fff;
}
.flex-2 audio{
    width: 100%;
    outline: none;
}
.music-icon{
    gap: 15px;
}
@media (max-width: 768px) {
    .flex-box, .flex-box-1{
        height: 200px;
    }
    .flex-1{
        width: 100%;
    }
    .flex-1 h2{
        text-align: center;
    }
    .flex-2{
        width: 100%;
        margin: 0 20px;
    }
    .flex-3{
        width: 100%;
    }
}